{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="" method="post" class="contact-from">
            {% csrf_token %}
            <div class="from-control">
                <div class="tag">Full name</div>
                <input type="text" name="full_name">
            </div>
            <div class="from-control">
                <div class="tag">Email</div>
                <input type="text" name="email">
            </div>
            <div class="from-control">
                <div class="tag">Subject</div>
                <input type="text" name="subject">
            </div>
            <div class="from-control">
                <div class="tag">Message</div>
                <textarea name="message" cols="30" rows="10"></textarea>
            </div>
            <div class="from-control">
                <input type="submit" class="btn" value="sent_message">
            </div>
            
        </form>
    </div>
</body>
</html>